---
import { timetable } from '@/lib/timetable';

const timetableData = await timetable();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Timetable</h1>
    {
      'error' in timetableData ? (
        <div>{timetableData.error}</div>
      ) : (
        timetableData.map((timetable) => (
          <section>
            <h2>{timetable.description}</h2>
            {timetable.times.map(({ day, times }) => (
              <div>
                <h3>{day}</h3>
                {(times.length &&
                  times.map((time) => (
                    <li>
                      {time.start} - {time.end}
                    </li>
                  ))) ||
                  null}
              </div>
            ))}
          </section>
        ))
      )
    }
  </body>
</html>
